@model IEnumerable<BBKBootCamp.Models.Solicitante>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Web Code4Jobs</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="/Home/Index" class="logo"><img src="~/images/Logo_BBK.png" /></a>
        <nav class="right">



            @if (User.IsInRole("Administradora"))
            {

                <ul class="button alt">
                    <li><a asp-area="Identity" asp-page="/Account/Register">Crear Entrevistador/a</a></li>

                </ul>
            }
        </nav>
    </header>
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a asp-controller="Home" asp-action="Index">Coding Bootcamp</a></li>
            <li><a asp-controller="Home" asp-action="About">Nuestro método</a></li>
            <li><a asp-controller="Home" asp-action="Contact">Becas y preguntas</a></li>
            <li><a asp-controller="Solicitantes" asp-action="Create">Formulario de inscripción</a></li>
            @if (User.IsInRole("Solicitante"))
            {
                <li><a asp-controller="Solicitantes" asp-action="Index">Solicitantes</a></li>
            }
            @if (User.IsInRole("HoraDisponible"))
            {
                <li><a asp-controller="HoraDisponibles" asp-action="Index">Horas disponibles</a></li>
            }
            @if (User.IsInRole("TablaDeEntrevista"))
            {
                <li><a asp-controller="TablaDeEntrevistas" asp-action="Index">Tabla de entrevistas</a></li>
            }
        </ul>
        <ul class="actions vertical">
            <li class="button fit"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li class="button fit"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        </ul>
    </nav>
    <h2>Solicitantes inscritos</h2>
    @if (User.IsInRole("Administradora"))
    {
        <p>
            <a asp-action="Create">Crear nuevo solicitante</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CorreoElectronico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SexoTipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pregunta6)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CorreoElectronico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SexoTipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta6)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Concertar Entrevista</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <!-- FOOTER-->
    <footer id="footer">
        <div class="inner">
            <div class="inner">
                <h2>Área interna</h2>
                <a class="logo"><img src="~/images/Logo_BBK.png" /></a>
            </div>
        </div>
        <div class="copyright">
            &copy; Alfredo & Nicolas Design.
        </div>
    </footer>
    <!-- FOOTER-->



    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
    </html>
